.signin-wrapper {
  background: url("../../assets/images/signin/bg2.jpg") center no-repeat;
  filter: blur(40px);
  box-shadow: 0 0 2000px 2000px #01181E;
}
.signin-form {
  border-radius: 10px;
  background-color: #fff;
}
